@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  #content::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  #content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-y {
    scroll-snap-type: y mandatory;
  }
  .scroll-snap-x-proximity {
    scroll-snap-type: x proximity;
  }
  .scroll-snap-y-proximity {
    scroll-snap-type: y proximity;
  }
  .scroll-snap-start {
    scroll-snap-align: start;
  }
  .scroll-snap-center {
    scroll-snap-align: center;
  }
  .scroll-snap-end {
    scroll-snap-align: end;
  }
}
